# EXPRESS

EXPRESS_PORT=3000 # service port : int
EXPRESS_API_VERSION=1 # api version : int

#POSTGRES VALUES

POSTGRES_USER=user # your Postgres user : string
POSTGRES_PASSWORD="MyP4ssW@rD" # your Postgres user : string
POSTGRES_HOST=127.0.0.1 # your Postgres host : ipv4
POSTGRES_PORT=5432 # your Postgres port : int
POSTGRES_DATABASE=inventory-manager # your Postgres database : string